<div class="col-12">
    <h1 class="text-center display-5 fw-bold py-5"> New Books </h1>
    <hr>
</div>





<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
    <% if(books){ %> 
        <% books.forEach(book=>{ %> 
            <a href="/books/<%= book._id %> " class="book-link">
                <div class="col book-card">
                    <img src="/uploads/books/<%- book.image %> " alt="<%- book.title %>">
                    <p class="text-center lead"><%- book.title %></h3>
                </div>
                </a>
        <% }) %> 
    <% } %> 
</div>